html {
  background-color: $white;
  font-family: 'Proza Libre', helvetica, arial, sans-serif;
  font-size: 62.5%;
  line-height: $base-line-height;
  height: 100%;
}

body {
  color: $dark-color;
  margin: 0;
  padding: 0;
  height: 100%;
}
