$white: #ffffff;
$main-color: #c94135;
$dark-color: #233d4d;
$yellow: #fcca46;
$light-green: #a1c121;
$dark-green: #619b8a;
$medium-grey: #bbc1c6;
$light-grey: #e3e5e9;
$off-white: #f7f9fc;
$warning-color: #000000;

// # sizes
$base-line-height: 1.6;
$pulse: $base-line-height * 1rem;
