<header>
  <div class="global-header">
    <div class="header-item header__logo">
      <%= render(partial: 'logo') %>
    </div>
    <h2 class="header-item"><%= title %></h2>
    <div class="header-item">
      <%= render(partial: 'navigation') %>
    </div>
  </div>
</header>
