<div class="friend-element">
  <% if user.avatar.present? %>
    <%= image_tag(user.avatar, class: "avatar avatar--clipped") %>
  <% else %>
    <%= image_tag('sample_avatar.png', class: "avatar avatar--clipped") %>
  <% end %>
  <div class="user-name">
    <h3><%= user.name.titleize %></h3>
  </div>
</div>
